doctype html
html
    head
        meta(charset="UTF-8")
        title Pagina no encontrada
        link(rel="stylesheet" href="photos/notFound.css")
    body
        h1 Te perdiste
        a(href="/") Regresar a página principal